// It is a common practise to use "_" at the beginning of a file name to denote that it will be expressly used for the purpose of variable storage

// Spacing
$example-spacing-variable: 16px;

// Colors
$persimmon-orange: #cd5e29;
$light-brown: #C5A78F;
$dark-brown: #BD846F;
$teal: #2588A0;
$blue: #4410F2;
$nightshade-purple: #614385;

// Typography
.h1 {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
}

.h2 {
  // For large card titles
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
}

.h3 {
  // For nav bar buttons and outlined text buttons
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.body {
  // For large card
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

// Other

html, body, #root {
  height: 100%;
  width: 100%;
}