@import "./globalVariables";

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 4px $dark-brown;
  border-radius: 30px;
  background: $tan;
  height: auto;
  padding: 16px;
  margin: 16px;
  margin-bottom: 0;
}

.navbar__text-inactive {
  color: $light-brown;
  text-decoration: none;
  -webkit-text-stroke: 1px $dark-brown;
}

.navbar__text-active {
  color: $light-purple;
  text-decoration: none;
  -webkit-text-stroke: 1px $nightshade-purple;
}
