@import "./globalVariables";

.main__container {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(#D4D3DD 0%, #B9B5FF 70%);
  overflow-y: scroll;
  display: block;
}


// Intro

.region__intro {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.region__intro__text-container {
  position: absolute;
  left: 10%;
  top: 20%;
  display: flex;
  flex-direction: column;
}

.region__intro__heading {
  background: -webkit-linear-gradient(#BD846F, #5200FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.region__intro__description {
  color: $nightshade-purple;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.region__intro__image {
  position: absolute;
  height: 80%;
  right: 10%;
  width: auto;
  bottom: 0;
}

// About
.region__about {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.region__about__heading {
  position: absolute;
  color: $violet;
  top: 5%;
  left: 10%;
}

.region__about__separator-left {
  background-color: $violet;
  position: absolute;
  height: 5%;
  width: 5%;
  left: 0;
  top: 15%;
}

.region__about__separator-right {
  background-color: $violet;
  position: absolute;
  height: 5%;
  width: 60%;
  right: 0;
  top: 15%;
}
.region__about__image {
  position: relative;
  display: inline-block;
  left: 0 !important;
  top: 30%;
  width: auto;
  height: 100%;
}
// Getting Started
.region__getting-started {
  width: 100%;
  height: 500%;
}

.region__getting-started__heading {

}

.region__getting-started__separator-left {

}

.region__getting-started__separator-right {

}